.Navbar a {
	color: black;
}

#nav-button {
	border: 1px solid lightgrey;
	background-color: white;
	color: black;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 5px;
}

.nav {
	padding: 8px;
}

.nav li {
	margin-right: 5px;
}

.navbar-header {
	padding: 5px;
}

.FormaInnerForma label {
	margin-top: 10px;
}

.FormaInnerForma button {
	margin-top: 10px;
}

.FormaChat .fa-twitter{
	margin: 10px;
	background-color: #337ab7;
	border-radius: 50%;
	padding: 8px 10px;
	color: white;
	cursor: pointer;
}

.FormaChat .fa-facebook{
	margin: 10px;
	background-color: #337ab7;
	border-radius: 50%;
	padding: 8px 14px;
	color: white;
	cursor: pointer;
}

.FormaChat {
	margin: 20px 0;
}

.FormaChat .talk {
	color: #337ab7;
	cursor: pointer;
}

.FormaChat .talk:hover {
	text-decoration: underline;
}

.FormaPhone {
	margin: 20px 0;
}
